body {
    --50: 50px;
    --100: 100px;
    --50per: 50%;
    --neg50per: -50%;
    background-color: #000;
}

.box {
    position: absolute;
    text-align: center;
    width: 300px;
    height: var(--100);
    top: var(--50per);
    left: var(--50per);
    transform: translate(var(--neg50per), var(--neg50per));
}

.updateButton {
    border: none;
    border-radius: 15px;
    width: var(--100);
    height: var(--50);
}

.updateButton:hover {
    background-color: #329932;
    box-shadow: 0px 0px 40px 20px #46A346;
}

h1 {
    color: lightslategray;
    padding-bottom: var(--50);
}